src/main/mule/octsample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="octsampleFlow" doc:id="d23660a6-8544-4b5e-bff0-d4831c94bf4f" >
		<logger level="INFO" doc:name="Logger" doc:id="ad25df08-1c99-47cb-bb67-c12dd5c793ca" message="flow started"/>
		<ee:transform doc:name="Transform Message" doc:id="7f119b8e-5281-49b9-bb74-360184c41510" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	statusCode: 200,
	message: "Success."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ab64cf36-0bb8-48c9-9667-61409c6ab46f" message="#[payload]"/>
	</flow>
</mule>
